---
const { category, showCount = false } = Astro.props;
---

<a 
    href={`/categories/${category.slug}/`}
    class="inline-flex items-center gap-3 px-6 py-3 text-base font-medium bg-zinc-800 text-zinc-200 border border-zinc-100/10"
>
    <span>{category.name}</span>
    {showCount && category.count && (
        <span class="px-2 py-1 text-sm bg-zinc-700 text-zinc-300">
            {category.count}
        </span>
    )}
</a>
