---
const { category, showCount = false } = Astro.props;
---

<a 
    href={`/categories/${category.slug}/`}
    class="inline-flex items-center gap-2 px-3 py-1 text-sm font-medium bg-zinc-800 text-zinc-200 hover:bg-zinc-700 transition-colors border border-zinc-100/10"
>
    <span>{category.name}</span>
    {showCount && category.count && (
        <span class="px-1.5 py-0.5 text-xs bg-gray-200 rounded-full">
            {category.count}
        </span>
    )}
</a>
